[Desktop Entry]
Name=Tihulu Clipboard Manager
Comment=Encrypted local clipboard history
Type=Application
Icon=io.github.tihulu.ClipboardManager
Exec=tihulu-clipboard-manager %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC;Clipboard;History
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
